

<%- include('partials/header') %>



    <main>
        <form action="post">
            <h2>Lieu de recherche</h2>
            <div>
                <div>
                <input type="radio" name="location" id="location-toute-france" value="france">
                <label for="location-toute-france">Toute la France</label>
            </div>

            <div>
                <input type="radio" name="location" id="location-by-region" value="region">
                <label for="location-by-region">Par région</label>

                <label for="location-region">Sélectionnez votre lieu de recherche</label>
            <select name="location-region" id="location-region">
                <option value="84">Auvergne-Rhône-Alpes</option>
                <option value="27">Bourgogne-Franche-Comté</option>
                <option value="53">Bretagne</option>
                <option value="24">Centre-Val de Loire</option>
                <option value="94">Corse</option>
                <option value="44">Grand Est</option>
                <option value="1">Guadeloupe</option>
                <option value="3">Guyane</option>
                <option value="32">Hauts-de-France</option>
                <option value="11">Île-de-France</option>
                <option value="4">La Réunion</option>
                <option value="2">Martinique</option>
                <option value="28">Normandie</option>
                <option value="75">Nouvelle-Aquitaine</option>
                <option value="76">Occitanie</option>
                <option value="52">Pays de la Loire</option>
                <option value="93">Provence-Alpes-Côte d'Azur</option>
            </select>
            </div>

            <div>
                <input type="radio" name="location" id="location-by-department" value="department">
                <label for="location-by-department">Par département</label>

                <label for="location-department">Sélectionnez votre lieu de recherche</label>
            <select name="location-department" id="location-department">
                <option value="1">Ain</option>
                <option value="2">Aisne</option>
                <option value="3">Allier</option>
                <option value="4">Alpes-de-Haute-Provence</option>

            </select>
            </div>


            </div>

            <div>
                <h2>Type de ville</h2>
                <input type="radio" name="type" id="type_rurale">
                <label for="type_rurale">Ville rurale</label>
                <input type="radio" name="type" id="type_urbaine">
                <label for="type_urbaine">Ville appartenant à une zone urbaine de moins de 200 000 habitants</label>
            </div>

            <div>
                <h2>Environnement</h2>
                
                <!-- 
                TRANCHES UU :
                1 Commune appartenant à une unité urbaine de 2 000 à 4 999 habitants
                2 Commune appartenant à une unité urbaine de 5 000 à 9 999 habitants
                3 Commune appartenant à une unité urbaine de 10 000 à 19 999 habitants
                4 Commune appartenant à une unité urbaine de 20 000 à 49 999 habitants
                5 Commune appartenant à une unité urbaine de 50 000 à 99 999 habitants
                6 Commune appartenant à une unité urbaine de 100 000 à 199 999 habitants
                7 Commune appartenant à une unité urbaine de 200 000 à 1 999 999 habitants
                8 Commune appartenant à l'unité urbaine de Paris -->

                <p>Un ville peut appartenir à un ensemble de communes (unité urbaine) plus ou moins grand. Nous vous proposons ici de rechecher les communes appartenant aux ensembles de moins de 200 000 habitants, mais vous pouvez ici réduire la sélection aux zones moins peuplées.</p>
                <label for="uu">Je veux une ville située dans une zone urbaine de moins de :</label>

                <select name="uu" id="uu">
                    <option value="5000">5 000 habitants</option>
                    <option value="10000">10 000 habitants</option>
                    <option value="20000">20 000 habitants</option>
                    <option value="50000">50 000 habitants</option>
                    <option value="100000">100 000 habitants</option>
                    <option value="150000">150 000 habitants</option>
                    <option value="200000">200 000 habitants</option>
                </select>
            </div>

            <div>
                <h2>Taille de ville</h2>
                <label for="town">Je veux une ville de moins de :</label>

                    <select name="town" id="town">
                    <option value="500">500 habitants</option>
                    <option value="1000">1 000 habitants</option>
                    <option value="2500">2 500 habitants</option>
                    <option value="5000">5 000 habitants</option>
                    <option value="10000">10 000 habitants</option>
                    <option value="20000">20 000 habitants</option>
                    <option value="50000">50 000 habitants</option>
                    <option value="100000">100 000 habitants</option>
                    <option value="150000">150 000 habitants</option>
                    <option value="200000">200 000 habitants</option>
                    </select>
            </div>

            <div>
                <h2>Éducation</h2>
                <p>Souhaitez-vous une ville ayant une ou des écoles ?</p>
                <input type="checkbox" name="school" id="no-school" value="0">
                <label for="no-school">Pas d'école nécessaire</label>
                <input type="checkbox" name="school" id="mater-school" value="mater">
                <label for="mater-school">École maternelle</label>
                <input type="checkbox" name="school" id="prim-school" value="prim">
                <label for="prim-school">École primaire</label>
                <input type="checkbox" name="school" id="coll-school" value="coll">
                <label for="coll-school">Collège</label>
                <input type="checkbox" name="school" id="lycee-school" value="lycee">
                <label for="lycee-school">Lycée</label>
            </div>

            <input type="submit" value="Ok!">



        </form>
    </main>

    <%- include('partials/footer') %>
